@import "tailwindcss";
@import "./fonts.css";

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  font-family: "Pretendard", ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --color-primary: #7dc960;
  --color-primary-varient: #eef9ea;
  --color-primary-font: #45b01b;

  --color-danger: #f76868;
  --color-danger-varient: #ffefef;

  --color-white: #ffffff;
  --color-gray-200: #efefef;
  --color-gray-400: #bfbfbf;
  --color-gray-600: #7c7c7c;
  --color-gray-800: #4a4a4a;
  --color-black: #171717;
}
